/* 

*/


/*Resets*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    font-family: 'Roboto', sans-serif;

    position: relative;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------------*/


/*MAIN*/

.conteiner{
    position: relative;
    
    width: 1160px;

    margin: 0 auto;
}

.conteiner--card{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;

    width: 1158px;
}

body::-webkit-scrollbar {
    width: 8px;               
}

body::-webkit-scrollbar-track {
    background: linear-gradient(#F5F7F6,#F5F7F6) padding-box, 
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;

    border: 4px solid transparent;
    border-radius: 5px;   
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;   
    background-color:#FE9013; 
}

.noscroll{
    transition: .3s;
    overflow: hidden;
}

/*HEADER*/

.header{
    width: 100%;
    height: 80px;

    padding-top: 14px;

    background-color: black;
    color: white;
}

.header > .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 82px;
    height: 52px;
    padding-top: 3.5px;

    font-size: 19px;
    text-align: center;
    line-height: 120%;

    border: 1px solid white;
}

.header__logo > h1{position: relative;}

.header__nav{
    flex: 1 1 auto;

    margin: 0 60px;
}

.header__svg{
    position: absolute;

    width: 12px;
    height: 21px;

    left: 10px;
    bottom: 5px;
}

.header__nav{
    display: flex;
}

.header__menu{
    display: none;
}

.header__disigned{
    font-weight: 500;
}

.header__nav-mobile {
    display: none;
}

.nav_item{
    margin-right: 58px;

    font-weight: 500;
}

.nav_item > .active{
    /* color: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%); */
    color: #F9804B;
}

/*LINKS*/

.link{
    color: white;
}

.link:hover{
    transition: .3s;
    color: #F9804B;
}

.link--under{
    color: #333B41;
    border-bottom: 1px solid #F9804B;    
}
    
.conteiner > a{
    color: white;
}

/*sectionFT*/

.sectionFT{
    position: relative;
    width: 100%;
    height: 780px;

    background: url('/online-zoo/online-zoo//img/Logo-Panda.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sectionFT > .conteiner{
    position: relative;
}

.sectionFT__circle{
    position: absolute;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;

    width: 465px;
    height: 465px;

    padding-top: 12px;

    border-radius: 50%;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.sectionFT__text{
    position: absolute;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;

    width: 500px;

    color: white;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
}

.sectionFT__text > span{
    color: #FFEE2E;
}

.sectionFT__posFix{
    display: none;
}

.button__sectionFT{
    position: absolute;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
}

/*BUTTONS*/

.button{
    width: 298px;
    height: 54px;

    text-transform: uppercase;
    color: white;
    font-weight: 500;
    line-height: 140%;
    text-align: center;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}

.button:hover{
    background: #E47209;
}

.button--br0{
    width: 240px;
    border-radius: 0;
}

.button--pink{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card__button{
    width: 298px;
    height: 54px;
}

.button__slide{
    width: 62px;
    height: 62px;

    margin-top: 400px;

    border-radius: 50%;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.button__slide:first-child{transform: rotate(180deg);}

.button__slide:hover{
    background: #E47209;

    animation: .3s;
}

.button__slide:active{
    background: #4B9200;
}

.card__flex-mobile-nav{
    display: none;
}

.button__slide-mobile{
    width: 62px;
    height: 62px;

    border-radius: 50%;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.button__slide-mobile:first-child{
    margin-right: 170px;
}

.button__slide-mobile:first-child{transform: rotate(180deg);}

.button__slide-mobile:hover{
    background: #E47209;

    animation: .3s;
}

.button__slide-mobile:active{
    background: #4B9200;
}

.button__form{
    width: 129px;
    height: 42px;

    text-transform: uppercase;
    color: black;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;

    background: #F1F3F2;

    border: 1px solid #333B41;
    border-radius: 5px;
}

.button__footer{
    width: 298px;
    height: 54px;

    margin-bottom: 30px;

    text-transform: uppercase;
    color: white;
    font-weight: 500;
    line-height: 140%;
    text-align: center;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}

.button__footer:hover{background: #E47209;}

/*INFO*/

.info{
    padding-top: 140px;

    background: url('/online-zoo/online-zoo//img/flower.png');
    background-repeat: no-repeat;
    background-position:  right -50px top 12px;
    background-size: 200px 560px;
}

.info__wrapper{
    display: flex;

    width: 1161px;
    height: 403px;
}

.info__photo{
    width: 609px;
    height: 403px;
}

.info__photo > img{
    width: inherit;
    height: inherit;
}

.info__text{
    padding-left: 67px;

    font-style: normal;
    color: #333B41;
}

.info__titile{
    margin-bottom: 20px;

    font-size: 48px;
    line-height: 120%;
}

.info__discription{line-height: 130%;}

p:nth-child(2){margin-bottom: 54px;}

.info__sub-title{
    margin-bottom: 34px;

    font-size: 24px;
}

/*CARD*/

.card{
    display: flex;
    justify-content: center;

    margin-top: 180px;

    background: url('/online-zoo/online-zoo//img/strelitzia.png') ,url('/online-zoo/online-zoo//img/palm.png');
    background-position: right bottom, left bottom;
    background-repeat: no-repeat;
}

.card > .conteiner{
    margin-left: 30px;
    margin-right: 30px;
}

.card__wrapper{
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    overflow: hidden;

    margin-bottom: 80px;
}

.card__item{
    position: relative;

    width: 366px;
    height: 426px;

    margin-bottom: 20px;
    margin-right: 30px;

    overflow: hidden;

    border: 1px solid transparent;
    background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    background: linear-gradient(white, white) padding-box, 
    linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%) border-box;

    cursor: pointer;
}


.card__description{
    position: relative;
    height: 30px;

    background-color: #FFFFFF;

    padding-top: 8px;
    margin-bottom: 14px;
}

.card__photo{
    width: 100%;
    height: 366px;
    background: #000;
}

.card__photo:hover {
    transform: scale(1.4);

    transition: 1s;
}

.card__photo > img:hover{
    opacity: .6;
}


.card__photo > img{
    width: inherit;
    height: inherit;
}

.card__title{
    position: absolute;
    bottom: 0;

    margin-left: 16px;

    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;  
}

.card__geolocation{
    position: absolute;
    bottom: -20px;

    margin-left: 16px;

    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.card__food{
    position: absolute;
    z-index: 11;

    bottom: -20px;
    right: 12px;
}


.card__item:hover > .card__description > .card__title{
    position: absolute;
    bottom: 60px;

    transition: 1s;

    color: white;
}

.card__item:hover > .card__description > .card__geolocation{
    position: absolute;
    bottom: 40px;

    transition: 1s;

    color: white;
}

.card__item:hover > .card__description > .card__food{
    position: absolute;
    bottom: 40px;

    transition: 1s;
}

.card__item:hover > .card__description {
    background: none;
}

.card__button{
    margin-left: 37%;

    margin-bottom: 100px;
}

.card__flex-mobile{
    display: flex;
    position: relative;

    left: 0;

    transition: 1s;
}

/*PINK*/

.pink{
    padding: 30px 30px 60px 30px;

    
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pinkFriend{
    padding: 41px 41px 60px 90px; 

    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    
    border-radius: 20px;

    color: #333B41;
}

.pink__title{
    margin-bottom: 30px;

    text-align: center;

    font-size: 48px;
    color: #FE9013;
}

.pink__sub-title{
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 120%;
}

.pink__info{
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

.pink__description{
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 130%;
}

.pink__titleSecond{
    margin-bottom: 40px;

    text-align: center;

    font-size: 36px;
    line-height: 130%;
}

.pink__wrapper{
    display: flex;
    justify-content: center;
    
    position: relative;

    margin-bottom: 60px;
}

.pink__item{
    width: 168px;
    height: 244px;

    margin-right: 30px;
}
.pink__item:last-child{
    margin-right: 0px;
}

.pink__img{
    width: 168px;
    height: 168px;

    margin-bottom: 30px;

    background: linear-gradient(white, white) padding-box, 
    linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%) border-box;

    border: 1px solid transparent;
    border-radius: 5px;
}

.pink__img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink__arrow{
    margin-right: 30px;
    padding-top: 62px;
}

.pink__arrow-mobile{
    display: none;
}

.pink__itemText{
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.pink__button{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pink__footerText{
    text-align: center;

    font-style: normal;
    line-height: 140%;
    color: #333B41;
}

.pink__input{
    position: relative;

    padding-left: 10px;
    margin-bottom: 25px;

    width: 268px;
    height: 54px;

    color: #929699;
    
    border: 1px solid #929699;
    border-radius: 2px;

    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
}

.pink__input-div{
    position: relative;

    display: flex;
    justify-content: center;
}

.pink__dollar{
    position: absolute;

    left: calc(50% - 119.09px/2 + 170px);
    top: 18px;
}

.pink__check{
    margin-right: 10px; 

    cursor: pointer;
}

.pink__check--mr{
    margin-left: 50px;
}

form > label{
    margin-right: 50px; 
}

.pink__inputWrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}

.pink__check{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.pink__lable{
    padding-left: 25px;

    cursor: pointer;

}

.pink__inputBlock{
    position: relative;

}

.pink__inputBlock:first-child{
    margin-right: 50px;
}

.pink__lable::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid rgba(254, 144, 19, 1);
    border-radius: 50%;

    position: absolute;
    top: -1px;
    left: 0;

    z-index: 1;
}

.pink__lable::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;

    background-color: rgba(254, 144, 19, 1);
    border-radius: 50%;
    opacity: 0;

    position: absolute;
    left: 3px;
    top: 2px;
}

.pink__check:checked + .pink__lable::after{
    opacity: 1;
}

.pink__infoZoo{
    display: flex;
    width: 540px;

    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pink__infoZoo--text{
    height: 50px;
}

.pink__infoZoo--text > h3{
    margin-bottom: 11px;
    
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.pinkFriend > form{
    margin-top: 50px;
}

/*FOOTER*/

.footer{
    padding: 41px 18px 50px 43px;

    background: #111115;
}

.footer__wrapperTop > a{
    color: white;
}

.footer__wrapperTop{
    display: flex;
    justify-content: space-between;

    margin-bottom: 36px;
}

.footer__wrapperBottom{
    display: flex;
}

.footer__wrapperBottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__link{
    flex: 1 0 auto  ;
    width: 110px;    
}

.footer__link > a{
    position: relative;
    margin-top: 5px;
    
    color: white;
}

.footer__link > a > span{
    position: absolute;
    left: 38px;
    top: 5px;
}

.footer__link > a:active{color: #4B9200;}

a > .footer__social:hover{
    color: #4B9200;
    background: #4B9200;
}

a > .footer__social:active{
    color: #4B9200;
    background: #4B9200;
}

.footer__social{
    width: 26px;
    height: 26px;

    text-align: center;
    padding-top: 5px;

    margin-bottom: 10px;

    border-radius: 50%;

    background: rgba(196, 196, 196, 0.5);
}

.footer__link > .footer__social:last-child{
    padding-top: 2px;
}

.footer__social > span{
    margin-left: 12px;
}

.footer__nav{
    padding-bottom: 10px;
    display: flex;
}

.footer__link-mobile{
    display: none;
}

.footer__info{
    font-weight: 100;
    color: white;
    line-height: 130%;

    height: 52px;
}

.footer__info-mobile{
    display: none;
}

.footer__info > p:first-child{
    margin-bottom: 10px;
}

/*FORM*/

form{
    position: relative;
}

form > p{
    margin-bottom: 14px;

    font-size: 24px;
    color: #FFFFFF;
}

.form__input{
    height: 42px;

    margin-right: 10px;
    padding: 10px 7px 10px 10px;
    
    color: #BDBDBD;

    border: 0.7px solid transparent;
    background: linear-gradient(#111115, #111115) padding-box, 
    linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%) border-box;
    border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

form > button:active{
    color: #4B9200;
    border: 1px solid #4B9200;
}

.form__range{
    display: block;
    margin: 0 auto;
    width: 85%;
    border-color: none;

    background-color: #404950;
    height: 27px;
    border-radius: 2px;
    margin-bottom: 12px;
}

.form__range[type=range]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.form__range[type=range]::-webkit-slider-runnable-track {
    margin: 0 31px;

    height: 2px;
    width: 70%;    
    background-color: #72828E;
}

.form__range[type=range]::-webkit-slider-thumb {
    position: relative;
    z-index: 2;

    border: 2px solid #FE9013;
    border-radius: 50%;
    cursor: pointer;
    width: 22px;
    height: 22px;
    -webkit-appearance: none;
    margin: -10px 0 0; 
}

.form__tricks{
    display: flex;
    justify-content: space-between;

    width: 90%;
    margin-left: 90px;
    margin-bottom: 57px;
}

.trick__text{
    flex: 1;

    font-weight: 500;
    font-size: 26px;
}

.form__tricks > .active{
    color: rgba(254, 144, 19, 1);
}

.steplist{
    height: 10px;
    width: 926px;
    margin: 0 0 0 123.5px;
}

.steplist > div{
    position: absolute;
    display: inline-block;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #FFEE2E;
    margin: -31px 0 0 0;

}

.steplist > div:nth-child(2){
    margin-left: 129px;
}
.steplist > div:nth-child(3){margin-left: 258px;}
.steplist > div:nth-child(4){margin-left: 387px;}
.steplist > div:nth-child(5){margin-left: 515px;}
.steplist > div:nth-child(6){margin-left: 644px;}
.steplist > div:nth-child(7){margin-left: 773px;}
.steplist > div:nth-child(8){margin-left: 902px;}

/*DONATE*/

.donate{
    padding-bottom: 30px;

    color: white;

    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate__title{
    padding-top: 40px;
    margin-bottom: 10px;

    text-transform: uppercase;
    font-size: 36px;
    line-height: 130%;
}

.donate__text{
    margin-bottom: 40px;

    font-weight: 500;
    line-height: 140%;
}

.donate__subTitle{
    margin-bottom: 60px;

    color: #FE9013;
    font-size: 36px;
    line-height: 130%;
}

/*TESTIMONIALS*/

.testimonials{
    padding-bottom: 140px;

    background: url('/online-zoo/online-zoo//img/leav_foto.png');
    background-repeat: no-repeat;
    background-position: right bottom -70px;

    background-size: 239px 295px;
}

.testimonials > .conteiner{
    height: inherit;
}

.testimonials__title{
    margin-top: 140px;
    margin-bottom: 47px;

    text-align: center;
    font-size: 36px;
    color: #333B41;
}

.testimonials__wrapper{
    display: flex;

    height: 420px;

    margin-bottom: 32px;

    overflow-x: scroll;
}

.testimonials__wrapper::-webkit-scrollbar {
    height: 8px;               
}

.testimonials__wrapper::-webkit-scrollbar-track {
    margin-left: 340px;
    margin-right: 340px;

    background: linear-gradient(#F5F7F6,#F5F7F6) padding-box, 
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;

    border: 1px solid transparent;
    border-radius: 5px;   
}

.testimonials__wrapper::-webkit-scrollbar-thumb {
    border-radius: 5px;   

    background-color:#FE9013; 
}

.testimonials__item{
    box-sizing: border-box;

    margin-right: 30px;
   

    width: 268px;
    height: 391px;

    padding: 15px 16px 19px;


    border-radius: 20px;
    border: 2px solid;

    background: linear-gradient(#F1F3F2,#F1F3F2) padding-box, 
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;

    border: 3px solid transparent;
    border-radius: 20px;

    cursor: pointer;
}

.testimonials__button{
    margin: 0 auto;
}

/*******************/
/********USER*******/
/*******************/

.user__img{
    display: inline-block;

    margin-right: 10px;
}

.user__img > img{
    width: 37px;
    height: 37px;
}

.user__fullName{
    color: #000;
}

.user__location{
    display: inline-block;

    font-size: 15px;
    font-weight: 300;
    color: #BDBDBD;
}

.user__date{display: inline-block; color: #BDBDBD;}

.user__dot{display: inline-block; color: #BDBDBD;}

.user__wrapper{
    display: inline-block;
    margin-bottom: 10px;

    vertical-align: top;

    height: 37px;

    text-align: top;
}

.user__comment{
    width: 237px;
    height: 309px;

    text-overflow: clip;
    overflow: hidden;

    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    
    color: #767474;
}

.div__input{
    width: 80%;
    margin: 0 auto;

    position: relative;
    z-index: 5;

   
}

.input__bg{
    position: absolute;
    z-index: 1;

    top: 27px;

    width: 100%;
    height: 27px;

    background: #404950;
    border-radius: 2px;
}

.input__bgLine{
    position: absolute;
    z-index: 2;

    top: 39px;
    left: 33px;

    width: 93%;
    height: 2px;

    background: #72828E;
}

.input__lable{
    font-size: 16px;
    position: absolute;
    color: black;
}

.input__wrapper{
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    text-align: center;
    
    width: 100%;
    margin: 50px auto;
    
}

.input__item{
    cursor: pointer;
}

.active > .input__circleBig > .input__circleMiddle{
    width: 22px;
    height: 22px;

    transition: .3s;
    border: 2px solid #FE9013;
}

.active  > .input__price{
    color: #FE9013;
}

.input__item:hover > .input__price{
    color: rgba(254, 144, 19, 1);
}   

.input__item:hover .input__circleBig{
    transition: .1s;

    width: 40px;
    height: 40px;

    border: 2px solid #FE9013;
    border-radius: 50%;
}

.input__circleBig{
    display: flex;
    align-items: center;
    margin: 20px auto;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.input__circleMiddle{
    display: flex;
    align-items: center;

    margin: 0 auto;

    width: 22px;
    height: 22px;

    border-radius: 50%;
}

.input__item:hover > .input__circleMiddle{
    width: 40px;
    height: 40px;

    border: 2px solid #FE9013;
    border-radius: 50%;
}

.input__circleSmall{
    width: 10px;
    height: 10px;

    margin: 0 auto;

    border-radius: 50%;

    background: #FFEE2E;
}

.input__price{
    font-weight: 500;
    font-size: 26px;
}



/***************************/
/**********borger***********/
/***************************/

.popUp{
    display: none;
}

.popUp.active{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;

    width: 100%;
    height: 100%;

    background-color: black;
    background: rgba(0, 0, 0, .7);
}

.user__commentPop{
    width: 237px;
    height: 309px;

    text-overflow: clip;

    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    
    color: #767474;
}

.popUp__content{
    position: relative;
    top: 100%;
    opacity: 0;
    transition: 5s;

    display: block;
    padding: 20px 36px 17px 17px;    

    overflow: hidden;

    width: 320px;
    height: 428px;

    background-color: #F5F7F6;
}

.popUp__content > .testimonials__itemPop{
    box-sizing: border-box;

    margin-right: 30px;

    width: 268px;
    height: 391px;

    padding: 15px 16px 19px;

    border-radius: 20px;
    border: 2px solid;

    background: linear-gradient(#F1F3F2,#F1F3F2) padding-box, 
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;

    border: 3px solid transparent;
    border-radius: 20px;

    cursor: default;
    margin-bottom: 20px;
}

.popUp__button{
    position: absolute;
    top: 12px;
    right: 10px;

    width: 14px;
    height: 14px;

    cursor: pointer;
    transition: .3s;
}

.popUp__button:hover{
    transition: .3s;

    transform: rotate(90deg);
}





/***************************/
/***********MEDIA***********/
/***************************/


@media (max-width: 1345px) {
    .conteiner{
        width: calc(100% - 30px);
        margin: 0 30px;
    }

    .header > .conteiner{
        flex: 0 0 auto;
    }

    .sectionFT{
        height: 584px;
    }

    .sectionFT__circle{
        left: calc(50% - 367px/2 + 139.5px);
        top: 69px;
    
        width: 367px;
        height: 367px;
    }
    
    .sectionFT__text{
        width: 400.25px;
        height: 320px;

        left: calc(50% - 400.25px/2 + 214.12px);
        top: 122.8px;
    
        font-size: 85px;
    }

    .button__sectionFT{
        left: calc(50% - 298px/2 + 214px);
        top: 483px;
    }
    
    .info {background: none; padding-top: 100px;}

    .info__photo {
        width: 455px;
        height: 410px;

        margin-top: 10px;

        background-image: url("/online-zoo/online-zoo/img/bamboo_1000px.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .info__photo > img{
        display: none;
    }

    .info__text {
        width: 53%;
        padding-left: 30px;
    }

    .info__wrapper {
        width: calc(100% - 0px);

        height: 430px;
    }

    .card{
        margin-top: 107px;
    
        background: url(/online-zoo/online-zoo//img/strelitzia.png) ,url(/online-zoo/online-zoo//img/palm_1000px.png);
        background-repeat: no-repeat;
        background-position: right bottom, left bottom;
        background-size: 241px 180px, 186px 202px;
    }

    .card > .conteiner{
        width: 940px;
        margin: 0 auto;
    }

    .card__flex-mobile-nav {
        display: flex;
        justify-content: center;

        width: 100%;

        margin-bottom: 15px;
    }

    .card__wrapper{
        margin-bottom: 115px;
    }

    .card__photo{
        height: 300px;
    }

    .card__item {
        width: 294px;
        height: 354px;

        margin-bottom: 15px;
        margin-right: 29px;
    }

    .conteiner {
        width: calc(100% - 60px);
        margin: 0 30px;
    }           

    .button__slide {
        display: none;
    }

    .button__slide:first-child {
        transform: rotate(180deg);

        left: 36%;
    }

    .card__button {
        margin: 0 auto; 
        margin-bottom: 140px;
    }

    .pink{padding: 30px 30px 50px;}

    .pink > .conteiner{
        width: 100%;
        margin: 0 0 0 0;
    }

    .pink__title,
    .pink__sub-title{
        margin-bottom: 20px;
    }

    .pink__description{
        margin-bottom: 40px;
    }

    .pinkFriend{
        padding: 41px 41px 50px 41px;
    }

    .pink__button{
        margin-bottom: 0;
    }

    .pink__wrapper{
        margin-bottom: 70px;
    }

    .testimonials{
        height: auto;
    }

    .testimonials__title{
        margin-top: 100px;
    }

    .testimonials__wrapper::-webkit-scrollbar-track {
        margin: 0 calc(100% + 200px);
    }

    .testimonials > .conteiner{
        overflow: hidden;
    }

    .testimonials__wrapper{
        width: 940px;

        margin: 0 auto 52px;
    }

    .testimonials__item{
        width: 293px;
    }

    .user__comment{
        width: 259px;
    }

    .testimonials__button{
        width: 940px;
    }
}

@media (max-width: 999px) {
    .conteiner{
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    .header{
        position: fixed;
        top: 0;
        z-index: 1000;
        
        height: 34px;

        padding-top: 2px;
    }

    .header__logo{
        width: 47px;
        height: 29px;

        border: none;

        padding: 0;

        font-size: 12px;
    }

    .header > .conteiner > a > .header__logo  > h1 > .header__svg{
        width: 7px;
        height: 20px;

        top: 9px;
        left: 5px;
    }

    .header__nav{display: none;}

    .header__disigned{display: none;}
    
    .header__menu{
        display: block;
        position: fixed;

        transition: .5s;
        top: -100%;
        left: 0;
        z-index: 1000;

        width: 100%;
        height: 100%;

        background: white;
    }

    .header__nav-mobile.active > .header__menu{
        transition: .5s;
        
        top: 0;
    }
    
    .header__menu > a > .header__logo{
        color: #FE9013;
        
        width: 65px;
        height: 41px;

        text-align: center;
        border: 1px solid #FE9013;
        border-radius: 2px;
    }

    .header__menu > a > .header__logo > h1 {
        font-size: 16px;
        line-height: 18px;
    }

    .header__menu > a > .header__logo > h1 > .header__svg{
        top: 13px;
        left: 5px;
    }

    .header__menu > a{
        display: inline-block;
        margin: 10px;
    }

    .header__menu > .header__nav{
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
    } 

    .header__menu > .header__nav > .nav_item{
        margin-bottom: 15px;
    }

    .header__menu > .header__nav > .nav_item > .link{
        color: #000;
    } 

    .header__nav-mobile{
        display: block;
        position: relative;

        width: 18px;
        height: 10px;

        cursor: pointer;
    }

    .header__menu.active{
        transition: .3s;

        top: 0;
    }

    .header__nav-mobile::before,
    .header__nav-mobile::after{
        content: "";

        transition: .5s;
        background-color: white;
        position: absolute;
        z-index: 10000;

        width: 100%;
        height: 2px;
        left: 0;

        border-radius: 5px;
    }

    .header__nav-mobile::before{
        top: 0;
    }

    .header__nav-mobile::after{
        bottom: 0;
    }

    .header__nav-mobile > span{
        background-color: #FFFFFF;
        position: absolute;

        transition: .5s;
        width: 100%;
        height: 2px;
        top: 4px;

        border-radius: 5px;
    }

    .header__nav-mobile.active.header__nav-mobile::before{
        transition: .5s;

        top: 4px;

        background-color: black;

        transform: rotate(-45deg);
    }

    .header__nav-mobile.active.header__nav-mobile::after{
        transition: .5s;

        bottom: 4px;

        background-color: black;

        transform: rotate(45deg);
    }

    .header__nav-mobile.active.header__nav-mobile span{
        display: none;
    }

        .sectionFT{
        margin-top: 34px;

        background-size: 100% 100%;
        height: 370px;
    }

    .sectionFT__circle{
        left: calc(50% - 237.6px/2 + 130.44px);
        top: 10px;
    
        width: 237px;
        height: 237px;
    }
    
    .sectionFT__text{
        width: 255px;
        height: 204px;

        left: calc(50% - 255.64px/2 + 176.76px);
        top: 50px;
    
        font-size: 54px;
    }

    .button__sectionFT{
        left: calc(50% - 298px/2 - 151px);
        top: 270px;
    }

    .info{
        padding-top: 60px;
    }

    .info__photo{
        display: none;
    }

    .info__text{
        width: 80%;
        padding: 0;
    }

    .info{
        background: url('/online-zoo/online-zoo//img/flower_640px.png');
        background-repeat: no-repeat;
        background-position:  right top 12px;
        background-size: auto 476px;
    }

    .card{
        margin-top: 80px;
    
        background-size: 241px 180px, 186px 202px;
        background-position: right bottom, left -40px bottom;
    }

    .card > .conteiner{
        width: 600px;
    }

    .button__slide-mobile:first-child{
        margin-right: 30px;
    }

    .card__flex-mobile-nav{
        margin-bottom: 11px;
    }

    .card__wrapper{
        margin-bottom: 60px;
    }
    
    .card__button{
        margin-bottom: 100px;
    }

    .card__item{
        width: 285px;
        height: 332px;

        margin-bottom: 11px;
        margin-right: 30px;
    
        overflow: hidden;
    }      

    .card__photo{
        height: 275px;
    }

    .pink{
        padding: 30px 0 20px 0;
    }

    .pink > .conteiner{
        width: 100%;
        margin: 0 0;
    }

    .pinkFriend{
        padding: 10px 20px 60px;
    }

    .pink__wrapper{
        justify-content: center;
        margin-bottom: 40px;
    }

    .pink__item{
        margin-right: 42px;
    }

    .pink__item:last-child{
        margin-right: 0;
    }

    .pink__arrow{
        display: none;
    }
 
    .pink__sub-title{
        font-size: 22px;
    }

    .testimonials{
        background-position: right -15px bottom -45px;
        background-size: 149px 147px;
    }

    .testimonials > .conteiner{
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    .testimonials__wrapper{
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items:flex-start;

        overflow: hidden;
        overflow-x: none;
    }

    .testimonials__button{
        display: flex;
        justify-content: center;
    
        width: 100%;
        margin-top: 40px;
    }

    .testimonials__item{
        margin-bottom: 15px;

        width: 100%;
        height: 109px;

        padding: 15px 16px 10px;

    }

    .testimonials__title{
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .user__comment{
        height: 35px;
    }

    .user__comment{
        width: 100%;
    }

    .footer{
        padding: 12px 20px;
    }

    .footer__form, 
    .footer__link {
        display: none;
    }
   
    .footer__wrapperTop > a > .header__logo{
        width: 82px;
        height: 52px;
        padding-top: 3.5px;
    
        font-size: 19px;
        text-align: center;
        line-height: 120%;
    
        border: 1px solid white;
    }

    .footer > .conteiner > .footer__wrapperTop > a > .header__logo > h1 > .header__svg{
        position: absolute;

        width: 12px;
        height: 21px;
    
        left: 10px;
        top: 18px;
    }

    .footer__link-mobile{
        display: flex;
    }

    .footer__link-mobile > .footer__link{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer__button{
        position: absolute;
        top: 90px;
    }

    .pink{
        padding-bottom: 20px;
    }

    .pink__description{
        margin-bottom: 30px;
    }

    .pink__titleSecond{
        margin-bottom: 20px;
    }

    .pink__arrow-mobile{
        display: block;

        position: absolute;

        left: calc(50% - 63.12px/2 - 125px);
        top: -15px;
    }

    .pink__arrow-mobile--second{
        left: calc(50% - 63.12px/2 + 85px);
        top: -15px;
    }

    .input__bgLine{
        width: 87%;
    }

    .input__wrapper > .input__item:nth-child(1),
    .input__wrapper > .input__item:nth-child(2),
    .input__wrapper > .input__item:nth-child(3){
        display: none;
    }

    .testimonials{
        padding-bottom: 80px
    }

    .testimonials__wrapper{
        height: 360px;
        overflow: hidden;
    }

    .nav_item{
        margin-right: 37px;
        font-weight: 400;
    }

    .nav_item:last-child{
        margin-right: 0px;
    }

    .footer__link > a{
        margin-top: 0;
        margin-bottom: 15px;
    }
    .footer__link > a:last-child{
        margin-bottom: 0px;
    }
}


@media (max-width: 639px) {

    @media (max-width: 999px){
        .conteiner {
            width: calc(100% - 10px);
            margin: 0 auto;
        }
    }

    .sectionFT{
        height: 187px;

        background-image: url("/online-zoo/online-zoo/img/panda_320px.png");
    }

    .button__sectionFT{
        left: calc(50% - 298px/2);
        top: 205px;
    }

    .sectionFT__circle{
        width: 119.09px;
        height: 119.09px;
        left: calc(50% - 119.09px/2 + 62.45px);
        top: 22px;
    }

    .sectionFT__text{
        width: 128.13px;
        height: 102.44px;
        left: calc(50% - 128.13px/2 + 85.67px);
        top: 41px;

        font-size: 28px;
    }

    .info{
        padding-top: 100px;

        background: url("/online-zoo/online-zoo/img/flower_320px.png");
        background-repeat: no-repeat;
        background-position: right top 45px;
    }

    .info__wrapper{
        height: auto;
        margin-bottom: 40px;
    }
    
    .info__text{
        width: 90%;
    }

    .info__titile{
        font-size: 24px;
        margin-bottom: 10px;
    }

    p:nth-child(2){
        font-size: 16px;
        margin-bottom: 20px;
    }

    .info__sub-title{margin-bottom: 10px;}

    .card{
        margin-top: 0;
        background-size: 85px 71px, 100px 72px;
        background-position: right -20px bottom, left -20px bottom;
    }

    .card > .conteiner{
        width: 300px;
    }

    .card__flex-mobile-nav{
        display: none;
    }

    .card__flex-mobile{
        flex-direction: column;
        justify-content: center;
    }

    .card__flex-mobile:last-child{
        display: none;
    }

    .card__wrapper{
        margin-bottom: 80px;
    }
    
    .card__item{
        width: 285px;
        height: 332px;

        margin: 0 auto;
        margin-bottom: 20px;
    }

    .card__item:last-child{
        margin-bottom: 0;
    }

    .card__title{
        margin-left: 12px;
        bottom: 0;
        font-size: 13px;
    }

    .card__geolocation{
        margin-left: 12px;
        font-size: 11px;

        bottom: -10px;
    }


    .card__wrapper{
        justify-content: center;
        margin-bottom: 20px;
    }

    .card__button{
        margin-bottom: 60px;
    }

    .pink{
        padding: 20px 11px 20px 10px;
    }

    .pinkFriend{
        padding: 20px 5px 40px ;
    }

    .pink__title{
        font-size: 24px;
    }

    .pink__titleSecond{
        font-size: 24px;
    }

    .pink__sub-title{
        text-align: center;

        font-size: 18px;

        margin-bottom: 20px;
    }

    .pink__info,
    .pink__description{
        display: none;
    }

    .pink__wrapper{
        flex-direction: column;
        align-items: center;

        margin-bottom: 30px;
    }

    .pink__item{
        height: 231px;
        margin-right: 0;
    }

    .pink__img{
        margin-bottom: 10px;
    }
    .pink__arrow-mobile{
        transform: rotate(90deg);
        left: calc(50% - 63.12px/2 + 90px);
        top: 180px;
    }
    .pink__arrow-mobile--second{
        left: calc(50% - 63.12px/2 + 90px);
        top: 420px;
    }

    .input__bgLine{
        left: 25px;
    }

    .input__price{
        font-size: 16px;
    }

    .pink__infoZoo {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .pink__info--img{
        width: 160px;
        height: 140px;
    }

    .pink__info--img > svg{
        width: inherit;
        height: inherit;
    }

    .testimonials__title{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .pinkFriend--hg{
        padding: 41px 0;
    }

    .div__input{
        width: 100%;
    }

    .testimonials{
        height: auto;
        padding-bottom: 60px;

        background-position: right -10px bottom -25px;
        background-size: 77px 77px;
    }

    .testimonials__wrapper{
        width: 100%;
        height: 360px;
        
        margin: auto;
    }

    .testimonials__item{
        width: 100%;
        margin-bottom: 15px;
        
        padding: 10px 0 10px 12px;
    }

    .testimonials__button{
        margin-top: 30px;
    }

    .footer{
        padding: 20px 0 20px 0px;
    }

    .footer > .conteiner{
        margin: 0px auto;
    }

    .footer__wrapperTop{
        flex-direction: column;
        align-items: center;
        
    }

    .footer__wrapperTop > .footer__link-mobile{
        align-items: flex-start;
    }

    .footer__wrapperTop > a > .header__logo{
        width: 128px;
        height: 23px;
        padding-top: 3.5px;
    
        font-size: 19px;
        text-align: center;
        line-height: 120%;
    
        border: none;
    }

    .footer > .conteiner > .footer__wrapperTop > a > .header__logo > h1 > .header__svg{
        position: absolute;

        width: 12px;
        height: 21px;
    
        left: 72px;
        top: -3px;
    }

    .footer__link-mobile > .footer__link{
        display: flex;
        flex-direction: row;
    }

    .footer__link{
        justify-content: center;
    }

    .footer__link > a{
        margin-right: 30px;
    }

    .footer__link > a:last-child{
        margin-right: 0px;
    }
    
    .footer__wrapperTop > a{margin-bottom: 30px;}

    .footer__wrapperTop{margin-bottom: 30px;}


    .footer__button{
        position: static;

        display: flex;
        justify-content: center;
    }

    .footer__link > a {margin-bottom: 0;}

    .footer__wrapperBottom{
        flex-direction: column;
        align-items: center;
    }

    .footer__nav{
        justify-content: center;
    }

    .footer__info{
        display: none;
    }

    .footer__info-mobile{
        display: block;
        text-align: right;

        margin-bottom: 30px;

        font-weight: 100;
        color: white;
        line-height: 130%;
    
        opacity: .7;

        height: 52px;
    }

    .footer__info-mobile > p{margin-bottom: 13px;}
    .footer__info-mobile > p:first-child{margin-right: 8px;}

    .footer__nav{
        width: 100%;

        justify-content: space-evenly;
    }

    .nav_item{

        margin-right: 0px;
    }
}

@media (max-width: 565px) {
    .input__wrapper{
        margin: 20px auto;
    }

    .input__bgLine{
        width: 90%;
        left: 15px;
    }
}

@media (max-width: 389px) {
    .input__bgLine{
        width: 87%;
        left: 15px;
    }   
}
